
@media(max-width:1200px){
    html{
        font-size: 60%;
    }

} 
@media(max-width:990px){
   
   
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
        margin: 2px;
        padding-left: 7rem 3%;
    }
    .portfolio{
        padding-bottom: 5.5rem;
    }
    .contact{
        min-height: auto;

    }
    .footer{
        padding: 2rem 3%;
    }
    .resume{
        min-height: auto;
    }
}


@media(max-width:722px){
    .skill{
        width: 100%;
    }
    .home-content {
        order: 2;
     } 
     .home-img img{
        padding: 5rem;
        width: 55%;
        /* height: 50%; */
        /* border-radius: 10rem; */
       
     }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding:1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
    .home{
        flex-direction: column ;
    }
    .home-content h3{
        font-family: 2.5rem;
    }
    .home-content h1{
        font-size: 2.5rem;
    }
    .home-img img{
        margin-top: 0;
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    
    .row{
        flex-wrap: wrap;
    }
    .col{
        width: 100%;
    }
    .portfolio-layer h3
     {
        font-size: 2rem;

    }
    .portfolio-layer a{
        width: 2rem;
        height: 2rem;
    }
    .portfolio-layer a i{
        font-size: 1.1rem;
         /* columns: var(--snd-bf-color);  */
    }
    .social-media a{
        width: 3rem;
        height: 3rem;
        font-size: 1.8rem;
    }
     /* .home-content {
        order: 2;
     } 
     .home-img img{
        padding: 5rem;
        padding-top: 1rem;
        border-radius: 10rem;
     } */

    .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1,
    .home-content h3
    {
        font-size: 2.5rem;
    }
    .home-content p{
        font-size: 1.1rem;
    }
    /* .home-img img{
        /* display: ; 
    } */
    .btn{
        font-size: 1.2rem;
        padding: 1rem 2.1rem;
    }
    .footer-iconTop{
        display: none;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
    .resume-box{
        width: auto;
    }
    .resume-img{
        /* height: inherit; */
        width: auto;
    }

}
/* @media(max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
        padding:3rem ;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;

    }
    .contact form .input-box input{
        width: 100%;
    }
} */

































































